@import 'nib'
@import 'normalize.styl'

gris = #444
gris1 = #f9f9f9
gris2 = #f0f0f0
gris3 = #d9d9d9
gris4 = #f4f4f4
gris5 = #aaa
gris6 = #777
gris7 = #d8d8d8
gris8 = #666
gris9 = #ccc
gris10 = #e9e9e9
gris11 = #ddd

body
    background-color #eaf6ff !important
    color gris
    font-size 16px
h1
    color gris8 !important
#logo
    margin 0px auto
#content
    height 100%
    margin 15px auto
    position relative
    text-align center
    width 600px
#wrapper
    background-color gris1
    border 2px solid white
    border-radius 10px
    box-shadow 0px 0px 3px gris5
    overflow hidden
    width 600px
#steps
    overflow hidden
    width 600px
    form
        fieldset
            border none
            margin 0
            padding 0px 0px 20px 0px
        legend
            background-color gris2
            border-bottom 1px solid white
            border-top 1px solid gris3
            color gris8
            float left
            font-size 24px
            font-weight bold
            margin 10px 0px
            padding 5px 0px 5px 10px
            text-align left
            text-shadow 1px 1px 1px white
            width 590px
        .form-input
            background-color gris4
            border 1px solid white
            border-radius 5px
            box-shadow 0px 0px 3px gris5
            clear both
            float left
            margin 5px 0px
            margin-left 50px
            padding 10px
            width 500px
            label
                color gris8
                float left
                font-weight bold
                line-height 26px
                margin-right 15px
                margin-top 5px       
                text-align right
                text-shadow 1px 1px 1px white
                width 50%
            &.submit
                background none
                border none
                box-shadow none
	        select
                width 50%      
            input
                width 50%   
	            &:focus
                    background-color white
                    box-shadow 0px 0px 3px gris5
	            &[readonly="readonly"]
                    color darkgray
                    cursor not-allowed
                &[readonly=""]
	            	color darkgray
	            	cursor pointer
            #registerButton
                background #4797ED
                border none
                border-radius 10px
                box-shadow 0px 0px 3px gris5
                clear both
                color white
                cursor pointer
                display block
                font-size 22px
                font-weight bold
                margin 0px auto
                outline none
                padding 7px 25px
                text-shadow 0 1px 1px gris6
                &:hover
                    background gris7
                    color gris8
                    text-shadow 1px 1px 1px white

.step
    float left
    width 600px

#navigation
    height 90px
    background-color gris10
    border-top 1px solid white
    border-radius 0px 0px 10px 10px
    ul
        list-style none
        float left
        margin-left 22px
        margin-top 0px
        li
            float left
            border-right 1px solid gris9
            border-left 1px solid gris9
            position relative
            margin 0px 2px
            padding 0px
            a
                display block
                height 45px
                background-color gris
                color gris6
                outline none
                font-weight bold
                text-decoration none
                line-height 45px
                padding 0px 20px
                border-right 1px solid white
                border-left 1px solid white
                background gris2
                background linear-gradient(linear,left bottom,left top,color-stop(0.09, rgb(240,240,240)),color-stop(0.55, rgb(227,227,227))color-stop(0.78, rgb(240,240,240)))

#navigation ul li a:hover,
#navigation ul li.selected a
    background gris7
    color gris8
    text-shadow 1px 1px 1px white

span
    &.checked
        background transparent url(../img/checked.png) no-repeat top left
        position absolute
        top 0px
        left 0px
        width 20px
        height 20px
    &.error
        background transparent url(../img/error.png) no-repeat top left
        position absolute
        top 0px
        left 0px
        width 20px
        height 20px

#steps form input:not([type=radio]), #steps form textarea, #steps form .select
    background white
    border 1px solid gris11
    border-radius 3px
    outline none
    padding 5px
    width 200px
    float left

.input_visa_opciones , .input_percepcion_conyuge, .input_percepcion_hijos 
    display none
// EDUCACION
.input_bachillerato_tiempo, .input_universidad_tiempo, .input_maestria_tiempo, .input_especialidad_tiempo, .input_diplomado_tiempo, .input_doctorado_tiempo
    display none
//EGRESOS
.input_egresos_telefono_monto, .input_egresos_movil, .input_egresos_gas_monto, .input_egresos_predial_monto, .input_egresos_automovil_monto, .input_adeudos_tarjetas_monto, .input_adeudos_colegiaturas_monto, .input_adeudos_automovil_monto
    display none
//INVERSIONES
.input_inversion_educacion_monto, .input_inversion_vestuario_monto, .input_inversion_alimentos_monto, .input_inversion_inversiones_monto, .input_inversion_actividades_monto, .input_inversion_seguros_monto 
    display none    

//ANIMATE
.stretchRight
    animation-name stretchRight
    animation-duration 2s
    animation-timing-function ease-out
    transform-origin 0% 0%


@keyframes stretchRight
    0%
        transform scaleX(.3)
    40%
        transform scaleX(1.02)
    60%
        transform scaleX(.98)
    80%
        transform scaleX(1.01)
    100%
        transform scaleX(.98)
    90%
        transform scaleX(1.01)
    100%
        transform scaleX(1)
